html {
	overflow-x: hidden;	
}
body {

}

#toTop {
  width:100px;
  border:1px solid #ccc;
  background:#f7f7f7;
  text-align:center;
  padding:5px;
  position:fixed; 
  bottom:10px; 
  right:10px;
  cursor:pointer;
  display:none;
  color:#333;
  font-size:11px;
  z-index: 99999;
}


.container {
	max-width: 960px;
}
.parallax-window {
	min-height: 900px;
  background: transparent;
}
.parallax-window-2 {
	min-height: 500px;
}
a:hover {
	text-decoration: none;
}

/* Header
--------------------------------------------------------------------------------- */

.header {
	font-family: 'avantgardegothiccregular';
	color: #fff;
	font-size: 14px;
}
.header a {
	color: #fff;
}
.header a:hover {
	text-decoration: underline;
}
.header__icons {
	text-align: right;
	padding-top: 25px;	
}
.header__icons a {
	display: inline-block;
	/*margin-right: 25px;*/
	margin-right: 5px;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;		
	padding: 10px 14px;
}
.header__icons a:HOVER {
	background-color: #fff !important;
	color: #2c1565;
	text-decoration: none;
}
.header__icons a.last {
	margin-right: 0;
}
.header__icons a span {
	padding-left: 35px;
}
.header__caption {
	font-size: 24px;
	line-height: 36px;
	font-family: 'avantgardecregular';
}
.header__share {
	color: #ff0000;
	font-size: 18px;
	padding-top: 25px;
	font-family: 'avantgardecbold';
}
.header__share p {
	display: inline-block;
	margin-left: 18px;
}
a.header__share--button {
	display: inline-block;
	color: #393a57;
	border: 1px solid #393a57;
	padding: 12px 28px;
	font-family: 'avantgardegothiccregular';
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;	
}
a.header__share--button:HOVER {
	background: #fff;
	text-decoration: none;
	color: #2c1565;	
}

.header a.vk {
	background: url('../Images/Icons/vk-icon.png') 15px 15px no-repeat;
}
.header a:HOVER.vk {
	background: url('../Images/Icons/vk-icon_hover.png') 15px 15px no-repeat;
}
.header a.fb {
	background: url('../Images/Icons/facebook-icon.png') 15px 11px no-repeat;
}
.header a:HOVER.fb {
	background: url('../Images/Icons/facebook-icon_hover.png') 15px 11px no-repeat;
}
.header a.telegram {
	background: url('../Images/Icons/telegram-icon.png') 15px 11px no-repeat;
}
.header a:HOVER.telegram {
	background: url('../Images/Icons/telegram-icon_hover.png') 15px 11px no-repeat;
}
.header a.instagram {
	background: url('../Images/Icons/instagram-icon.png') 15px 11px no-repeat;
}
.header a:HOVER.instagram {
	background: url('../Images/Icons/instagram-icon_hover.png') 15px 11px no-repeat;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;

}
.logo-block {
	min-height: 450px;	
}

/* Sections
--------------------------------------------------------------------------------- */

.section h2 {
	font-size: 30px;
}
.section h3 {
	font-size: 22px;
}

.section {
	padding: 70px 0;
	font-family: 'avantgardecregular';
}
.section-1 h2 {
	padding-bottom: 50px;
}
.cols {
	display: flex;
	align-items: center;	
	justify-content: flex-start;	
	min-height: 300px;
}
.col-outer {
	border-left: 1px solid #efefef;	
	height: 220px;
	align-items: center;	
	display: flex;
}
.col-inner {
	max-height: 220px;
}
.col-outer p.hidden {
	opacity: 0;
	display: none;
}
/*
.col-outer:hover p.hidden,
.col-outer p.-hovered {
	opacity: 1;
	display: block;
}
.col-outer:hover .col-inner {
	min-width: 380px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;	
}
*/

.col-outer .hovered p {
	opacity: 1;
	display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;	
}

.col-inner h3 {
	border-left: 1px solid #000;	
	height: 37px;
	display: flex;	
	align-items: center;
	font-size: 22px;	
	padding-left: 20px;
	padding-right: 40px;
}
.col-inner p {
	padding-left: 20px;	
	padding-right: 40px;
	font-size: 16px;
}
.col-inner-2 p {
	padding-right: 20px;	
}

.speaker img {
	margin: 20px 0;
}

.section-4 {
	background: #e6e6e6;
	min-height: 200px;
	padding: 60px 0 120px 0;
}

/* Circles
--------------------------------------------------------------------------------- */

.circles {
	min-height: 200px;
}
.circle {	
	height: 100px;
	display: flex;
	align-items: center;
	font-size: 18px;
	padding-right: 30px;
}
.circle span {
	padding-left: 25px;
}
.circle {
	background: url('../Images/circle-2.png') 0 50% no-repeat;	
}
.circle-1 {
	background: url('../Images/circle-1.png') 0 50% no-repeat;	
}

/* Events
--------------------------------------------------------------------------------- */

.events {
	padding: 0;
}
.events h3 {
	font-size: 18px;
	padding: 30px 0;
}

.event-block {
	background: #fff;
	border-left: 1px solid #a82467;
	padding: 20px 10px 30px 16px;
	margin: 0 0 10px 40px;
	width: 85%;
}
.event-block p {
	line-height: 5px;
}
.event__time {
	position: relative;
	top: 42px;
	font-size: 12px;
	color: #686868;
}
.event {
	text-align: center;
	font-size: 12px;
	color: #686868;
}
.event span {
	width: 25px;
	height: 15px;
	position: relative;
	top: 3px;
	display: inline-block;			
}
.events h4 {
	font-size: 22px;
	line-height: 26px;
}
p.event {
	margin-bottom: 0;
	padding-bottom: 0;
}
.event__start span  {
	background: url('../Images/event-start.png') 0 0 no-repeat;	
}
.event__break--time {
	top: 20px;
}
.event__break span  {
	background: url('../Images/event-break.png') 0 3px no-repeat;	
}
.event__end span  {
	background: url('../Images/event-end.png') 0 3px no-repeat;	
}


.section-5 h2 {
	color: #fff;
}
.partners {
	max-width: 770px;
	min-height: 200px;
	margin: 0 auto;
}
.link {
	text-transform: lowercase;
	text-align: center;
	font-size: 12px;
}
.link a {
	color: #fff;
	text-decoration: underline;
}

.section-6 {
	
}
.founder img {
	float: left;
	margin: 0px 20px 0 0;
}
.founder .title {
	font-size: 20px;
}
.founder p {
	line-height: 15px;
}
.founder a {
	color: #000;
	text-decoration: underline;
}
.founder a:hover {
	text-decoration: none;
}

.founder a.icon {
	display: inline-block;
	width: 18px;
	height: 20px;
	margin-right: 12px;
}
.founder a.vk {
	width: 23px;
	background: url('../Images/Icons/vk.png') 0 3px no-repeat;
}
.founder a.instagram {
	background: url('../Images/Icons/instagram.png') 0 0px no-repeat;
}
.founder a.fb {
	background: url('../Images/Icons/fb.png') 0 0px no-repeat;
}

.map {
	position: relative;
}
.map-info {
	position: absolute;
	top: 60px;
	z-index: 99999;
	padding: 35px 35px 70px 35px;
	background: #fff;
}
.mobile-map {
	display: none;
}

.section-8 h3 {
	font-size: 18px;
	text-align: center;
	padding: 20px 0;
}
.section-8 h4 {
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
}

.footer-icons {
	text-align: center;
}
.footer-icons a {
	display: inline-block;
	width: 46px;
	height: 46px;
	margin-left: 20px;
}
.footer-icons a.vk {
	background: url('../Images/Icons/footer-icon-vk.png') 0 0 no-repeat;
}
.footer-icons a.instagram {
	background: url('../Images/Icons/footer-icon-instagram.png') 0 0 no-repeat;
}
.footer-icons a.fb {
	background: url('../Images/Icons/footer-icon-fb.png') 0 0 no-repeat;
}
.footer-icons a.telegram {
	background: url('../Images/Icons/footer-icon-telegram.png') 0 0 no-repeat;
}
